[Desktop Entry]
Version=1.0
Name=Pumpa
Exec=pumpa %U
Icon=pumpa
Terminal=false
Type=Application
GenericName=pump.io client
Comment=pump.io social networking
Categories=Network;InstantMessaging;
Keywords=pump.io;social network;microblog;
