Source: pumpa
Section: net
Priority: optional
Maintainer: Mats Sjöberg <mats@sjoberg.fi>
Build-Depends: debhelper (>= 9),
               libqt4-dev,
               qt4-qmake,
               libqjson-dev,
               libaspell-dev
Standards-Version: 3.9.3
Homepage: http://saz.im/software/pumpa.html
Vcs-Git: git@gitorious.org:pumpa/pumpa.git
Vcs-Browser: https://gitorious.org/pumpa/pumpa

Package: pumpa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pumpa is a simple desktop client for pump.io.
 Pumpa is a simple Qt desktop client for identi.ca and other
 pump.io-based federated social network services.
